---
layout: default
---
<article class = "expect">
<div class="expect-content">
    <div class="wrapper-expect">
        <!-- Title and Logo Section -->
        <div class="title-logo">
            <img src="{{ '/assets/expect_logo.png' | relative_url }}" alt="eXpect Logo" class="logo" />
            <h1 class="expect-title">{{ page.title }}</h1> <!-- Title from Markdown -->
        </div>

        <!-- Two Column Layout (Authors and Content) -->
        <div class="two-column-layout">
            <!-- Authors Section -->
        	<div class="column authors">
		<!-- Authors and Markdown Content -->
		<h2>Authors</h2>
                	<ul>
                    		<li><a href="https://melisandezonta.com" target="_blank">Melisande Zonta-Roudes</a></li>
                    		<li>Andres Meza</li>
                    		<li>Nora Hinderling</li>
                    		<li><a href="https://eit.rptu.de/fgs/eis/people/deutschmann" target="_blank">Lucas Deutschmann</a></li>
                    		<li><a href="https://frestucc.github.io" target="_blank">Francesco Restuccia</a></li>
                    		<li><a href="https://kastner.ucsd.edu/ryan" target="_blank">Ryan Kastner</a></li>
                    		<li><a href="https://n.ethz.ch/~sshivaji" target="_blank">Shweta Shinde</a></li>
                	</ul>
		
		<div class="links">
		<div class="rectangle-container">
			
			<a href="https://github.com/{{include.username}}">
				<span class="rectangle github-rect">
					{% include icon-github.svg %}
				</span>
			</a> 
			<a href="{{ '/assets/expect_iccad24.pdf' | relative_url }}">
				<span class="rectangle pdf-rect">
					{% include icon-paper.svg %}	
				</span>
			</a>
                	<a href="#">
				<span class="rectangle cite-rect">
					{% include cite.svg %}
				</span>
			</a>
                

		</div>
		</div>
		</div>
            <!-- Content Section -->
            <div class="column content">
                <!-- Abstract and Markdown Content -->
		{% if page.content_type == "abstract" %}
                {{ content }} <!-- Abstract and other Markdown content -->
		{% endif %}
                <!-- Rectangles Section -->
            </div>
        </div>
    </div>
</div>
</article>
