<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title | escape }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>

<!-- Include the header -->
{% include header.html %}

<!-- Main content -->
<main class="page-content">
    <div class="wrapper">
         <div class="title-logo">
            <img src="{{ '/assets/expect_logo.png' | relative_url }}" alt="eXpect Logo" class="logo" />
            <h1>{{ page.title }}</h1> <!-- Title from Markdown -->
        </div>


        <div class="two-column-layout">
            <!-- Authors Section with Links (Handled in the layout) -->
            <div class="column authors">
                <h2>Authors</h2>
                <ul>
                    <li><a href="https://melisandezonta.com" target="_blank">Melisande Zonta-Roudes</a></li>
                    <li>Andres Meza</li>
                    <li>Nora Hinderling</li>
                    <li><a href="https://eit.rptu.de/fgs/eis/people/deutschmann" target="_blank">Lucas Deutschmann</a></li>
                    <li><a href="https://frestucc.github.io" target="_blank">Francesco Restuccia</a></li>
                    <li><a href="https://kastner.ucsd.edu/ryan" target="_blank">Ryan Kastner</a></li>
                    <li><a href="https://n.ethz.ch/~sshivaji" target="_blank">Shweta Shinde</a></li>
                </ul>
            </div>

            <!-- Abstract and Other Content (From Markdown) -->
            <div class="column content">
                {{ content }} <!-- Abstract and other Markdown content -->
            </div>
        </div>
    </div>
</main>

<!-- Include the footer -->
{% include footer.html %}

</body>
</html>

